.card {
    border-radius: 20px !important;
}

body {
    font-family: "Mulish", sans-serif !important;
}

th {
    padding: 12px !important;
    /* text-align: center !important */
}

td {
    padding: 12px !important;
    /* text-align: center !important; */
}

.accordion-button:not(.collapsed) {
    background-color: #fff;
}

.accordion-item .icon-text p {
    color: white !important;
}

.progress-value {
    background-color: #01a2b2;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    z-index: 3;
    /* position: absolute; */
    color: white;
    /* margin-left: 70%; */
    margin-top: -18px;
    /* border: solid;
    border-color: black; */
	position: relative!important;
	left: -1%!important;;
	
}

.checkbox-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	user-select: none;
	& > * {
		margin: .5rem 0.5rem;
	}
}



.checkbox-group-legend {
	font-size: 1.5rem;
	font-weight: 700;
	color: #9c9c9c;
	text-align: center;
	line-height: 1.125;
	margin-bottom: 1.25rem;
}

.checkbox-input {
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;

	&:checked + .checkbox-tile {
		border-color: #2260ff;
		box-shadow: 0 5px 10px rgba(#000, 0.1);
		color: #2260ff;
		&:before {
			transform: scale(1);
			opacity: 1;
			background-color: #2260ff;
			border-color: #2260ff;
		}
		
		.checkbox-icon, .checkbox-label {
			color: #2260ff;
		}
	}
	
	&:focus + .checkbox-tile {
		border-color: #2260ff;
		box-shadow: 0 5px 10px rgba(#000, 0.1), 0 0 0 4px #b5c9fc;
		&:before {
			transform: scale(1);
			opacity: 1;
		}
	}
}

.checkbox-tile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 11rem;
	min-height: 7rem;
	border-radius: 0.5rem;
	border: 2px solid #b5bfd9;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(#000, 0.1);
	transition: 0.15s ease;
	cursor: pointer;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		display: block;
		width: 1.25rem;
		height: 1.25rem;
		border: 2px solid #b5bfd9;
		background-color: #fff;
		border-radius: 50%;
		top: 0.25rem;
		left: 0.25rem;
		opacity: 0;
		transform: scale(0);
		transition: 0.25s ease;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
		background-size: 12px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}

	&:hover {
		border-color: #2260ff;
		&:before {
			transform: scale(1);
			opacity: 1;
		}
	}
}

.checkbox-icon {
	transition: .375s ease;
	color: #494949;
	svg {
		width: 3rem;
		height: 3rem;
	}
}

.checkbox-label {
	color: #707070;
	transition: .375s ease;
	text-align: center;
}

.check-long{
    width : 40rem!important;
    min-height: 1rem;
    flex-direction: unset!important;
    justify-content: unset!important;
}

.sticky {
    position: -webkit-sticky;
    /* For Safari */
    position: sticky;
    top: 0;
    /* Adjust this value to control how far from the top the div should stick */
    background-color: #fff;
    padding: 1em;
    /* border: 1px solid #ccc; */
    z-index: 100;
}

.progress-bar-marker {
	background-image: linear-gradient(90deg, rgba(225, 225, 225, 0.1) 97%, rgb(0, 0, 0) 3%);
	height: 20px;
}

.scale-mark{
	height: 20px;
	width:16px;
	background-color: black;
}


.comp:hover{
	color: white;
	background-color: black!important;
	cursor: pointer;
}

.hover-effect {
	background-color: lightblue;
	/* Same as your hover effect */
}

.comp:hover .comm-hov {
	color: white;
		background-color: #00a4fe;
		cursor: pointer;
}

.comp .team-hov .click {
	color: white;
	background-color: #00a4fe;
	cursor: pointer;
}

.comp:hover .team-hov {
	color: white;
	background-color: #E06B60;
	cursor: pointer;
}

.comp:hover .critical-hov {
	color: white;
	background-color: #A056E6;
	cursor: pointer;
}

.comp:hover .professionalism-hov {
	color: white;
	background-color: #66d203;
	cursor: pointer;
}

.comp:hover .equity-hov {
	color: white;
	background-color: #e66060;
	cursor: pointer;
}

.comp:hover .tech-hov {
	color: white;
	background-color: #556B9B;
	cursor: pointer;
}

.comp:hover .career-hov {
	color: white;
	background-color: #ffb600;
	cursor: pointer;
}

.comp:hover .leadership-hov {
	color: white;
	background-color: #796258;
	cursor: pointer;
}

.comm-click {
	color: white;
	background-color: #00a4fe;
	cursor: pointer;
}

.team-click {
	color: white;
	background-color: #E06B60;
	cursor: pointer;
}

.critical-click {
	color: white;
	background-color: #A056E6;
	cursor: pointer;
}

.professionalism-click {
	color: white;
	background-color: #66d203;
	cursor: pointer;
}

.equity-click {
	color: white;
	background-color: #e66060;
	cursor: pointer;
}

.tech-click {
	color: white;
	background-color: #556B9B;
	cursor: pointer;
}

.career-click {
	color: white;
	background-color: #ffb600;
	cursor: pointer;
}

.leadership-click {
	color: white;
	background-color: #796258;
	cursor: pointer;
}

.hover-global .comp {
	background-color: red;
	/* Same hover effect applied globally */
}

.upcard{
	box-shadow: 6px 6px 12px #b8b9be4f,
		-6px -6px 12px #ffffff38 !important;
}

.accordion-button{
	--bs-accordion-btn-icon-width: 46px;
}

.f-800{
	font-weight: 800;
}

.f-600{
	font-weight: 600;
}


.btn-up.accordion-button::after{
	margin-top: -65px!important;
}

.card-title{
	font-size: 20px!important;
	color: #12171dbf!important;
}

.select-light{
	background-color: #fff!important;
	color : #033!important;
}

.text-black{
	color: black!important;
}

.accordion-flush .accordion-item:first-child{
	border-top:1px solid #ced4da!important;
}

.gauge-container {
	width: 170px;
	height: 170px;
}

.gauge {
	width: 100%;
	height: 100%;
}

.gauge-background {
	fill: none;
	stroke: #eee;
	stroke-width: 8;
	/* Thicker stroke width */
}

.gauge-foreground {
	fill: none;
	stroke: #FF5733;
	/* Change to your desired color */
	stroke-width: 8;
	/* Thicker stroke width */
	stroke-linecap: round;
	transition: stroke-dasharray 0.6s ease;
}

.gauge-percentage {
	fill: #343A40;
	font-weight: 700;
	font-size: 0.7em;
	text-anchor: middle;
	dominant-baseline: middle;
}

.gauge-emerging{
	stroke: #008ffb;
}

.gauge-understanding {
	stroke: #66d203;
}

.gauge-early {
	stroke: #fcb92b;
}

.gauge-advanced {
	stroke: #ff4560;
}

.highcharts-text-outline{
	stroke-opacity: 0%;
}

.bg-primary{
	background-color: rgb(0 143 251) !important;
}

.comm-hov .clicked {
	color: white;
	background-color: #00a4fe;
	cursor: pointer;
}

.team-hov .clicked {
	color: white;
	background-color: #E06B60;
	cursor: pointer;
}

.critical-hov .clicked {
	color: white;
	background-color: #A056E6;
	cursor: pointer;
}

.professionalism-hov .clicked {
	color: white;
	background-color: #66d203;
	cursor: pointer;
}

.equity-hov .clicked{
	color: white;
	background-color: #ad3131;
	cursor: pointer;
}

.tech-hov .clicked {
	color: white;
	background-color: #556B9B;
	cursor: pointer;
}

.career-hov .clicked {
	color: white;
	background-color: #ffb600;
	cursor: pointer;
}

.leadership-hov .clicked {
	color: white;
	background-color: #796258;
	cursor: pointer;
}

.max-border{
	box-shadow: 0 0 0 2px #f3f5f6 inset;
}

.max-outline{
	outline: 5px solid #323c48;
}

.progress-bar{
	overflow: unset !important;
	border-radius: 10px!important;
}

.progress{
overflow: unset!important;
}

.form-switch .form-check-input{
	width: 3rem!important;
}

.competency-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 16px;
	grid-row-gap: 0px;
}


.highcharts-credits {
	display: none !important;
}

.pie-text {
	font-size: 19.2px;
	font-weight: bold;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.highcharts-title{
	display: none!important;
}

.apexcharts-tooltip-y-group {
	background-color: white !important;
	/* Custom background color */
	color: Black !important;
	/* Custom text color */
}

.apexcharts-tooltip-series-group {
	background-color: white !important;
	border: black 2px;
}

.ruler {
	position: relative;
	width: 100%;
	height: 2px;
	background-color: #eaeaea;
	border: 1px solid #000;
}

.tick {
	position: absolute;
	width: 3.5px;
	height: 17px;
	margin-top: -8px;
	background-color: #000;
}

.tick:nth-child(1) {
	left: -1px;
}

.tick:nth-child(2) {
	left: 25%;
}

.tick:nth-child(3) {
	left: 50%;
}

.tick:nth-child(4) {
	left: 75%;
}


.tick:nth-child(5) {
	left: 100%;
	margin-left: -1px;
	/* Adjust to center the last tick */
}

.digit-ruler {
	position: relative;
	width: 99%;
	height: 2px;
	/* opacity: 0; */
}

.digit {
	position: absolute;
	text-align: center;
	margin-top: -8px;
	font-weight: bolder;
	color: black;
}

.digit:nth-child(1) {
	left: -5px;
}

.digit:nth-child(2) {
	left: 25%;
}

.digit:nth-child(3) {
	left: 50%;
}

.digit:nth-child(4) {
	left: 75%;
}

.digit:nth-child(5) {
	left: 100%;
	margin-left: -1px;
	/* Adjust to center the last tick */
}


select {
	color: #000033 !important;
}

#SvgjsText1111 {
	fill: #12171dbf !important;
}

#SvgjsText1124 {
	fill: #12171dbf !important;
}

#SvgjsText1150 {
	fill: #12171dbf !important;
}

#SvgjsText1163 {
	fill: #12171dbf !important;
}

#SvgjsG1136 {
	fill: #12171dbf !important;
}

#SvgjsG1175 {
	fill: #12171dbf !important;
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 10px;
}

.org-name {
    font-size: clamp(10px, 5vw, 24px);
    font-weight: bold;
    line-height: 1.2;
    max-width: 90%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-wrap: balance;
    display: block;
	color : #000;
}

.animated-progress {
	animation: progress-animation 1s ease-out forwards;
}

@keyframes progress-animation {
	from {
		width: 0%;
	}

	to {
		width: var(--progress-width, 100%);
	}
}

.popover-headings {
	font-weight: 800;
	color: #000 !important;
}

.disable-events{
	pointer-events: none!important;
}