

@media (max-width: 767px) { /* Apply only for sm and smaller */

	.mobile-competency-name .img-fluid {
		height: 40px !important; 
		width: 40px !important; 
		object-fit: contain;
	}

	.header-title{
		justify-content: space-between !important;
	}
	
	.progress-value.mobile-circle {
		font-size: 14px;
		height: 30px;
		width: 30px;
		line-height: 30px;
		margin-top: -12px;
		position: relative;
		left: -15px;
	}

	.animated-progress.progress-bar{
		min-width: 15px !important;
		max-width: calc(100% - 15px) !important;
	}

	.mobile-competency-name{

		margin-left: calc(-1 * var(--bs-card-spacer-x)) !important;
  		margin-right: calc(-1 * var(--bs-card-spacer-x)) !important;
		border-bottom-right-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
	}

	.accordion-button {
		--bs-accordion-btn-icon-width: 30px !important;
	}

	.accordion-button-wrapper{
		border-top: 1px solid #0000001f;
	}


	.student-competency-section{
		background-color: transparent;
		border: none;
		box-shadow: none;

		.accordion-item{
			background: white;
			border-radius: 20px;
			box-shadow: 0 2px 4px rgba(0,0,0,.08);
		}
	}

	.competency .progress:not(:last-child) {
		margin-bottom: 43px !important; /* or padding, margin, etc. */
	}

	.competency .progress:last-child {
		margin-bottom: 30px !important; /* or padding, margin, etc. */
	}

	.progress-label {
		top: 18px !important; 
	}

	.pb-4-5-mobile{
		padding-bottom: 2.5rem !important;
	}

	.student-evaluator-details div{
		text-align: center !important;
	}

	#mobile-labels span.text-dark {
		text-align: left !important;
		display: block;
		font-size: clamp(1px, 3vw, 16px);
	}

	.sticky-header-card #mobile-labels span.text-dark {
		white-space: nowrap !important;
		font-weight: 700;
	}
}

.card {
    border-radius: 20px !important;
}

body {
    font-family: "Mulish", sans-serif !important;
}

th {
    padding: 12px !important;
    /* text-align: center !important */
}

td {
    padding: 12px !important;
    /* text-align: center !important; */
}

.org-logo {
    object-fit: contain;
    max-width: 100%;
    max-height: 140px;
}

.mobile-competency-name .img-fluid {
	height: 70px; 
	width: 70px; 
	object-fit: contain;
}

.sticky-top-active {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.accordion {
	background-color: transparent;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
}

.accordion-button {
    --bs-accordion-btn-icon-width: 40px;
	width: auto;
    justify-content: center;
    margin: auto;
	padding: 0.2rem;
}

.accordion-body {
	padding: 0;
	.competency .row {
		border-top: #0000001f solid 1px;
	}
	.competency:last-child .row {
		border-bottom: #0000001f solid 1px;
	}
}

.animated-progress.progress-bar{
	flex-shrink: 0;
	overflow: unset !important;
	border-radius: 10px;
	min-width: 19px;
	max-width: calc(100% - 19px);
}

.progress-bar-labels span {
	display: block; 
	white-space: normal;
	line-height: 1.2rem;
}

.progress{
	overflow: unset!important;
	margin-bottom: 14px;
	position: relative;
}

.progress-label {
    position: absolute;
    top: 23px; 
    white-space: nowrap;
	animation: progress-label-animation 1s ease-out forwards;
}

.competency .progress:not(:last-child) {
	margin-bottom: 53px; /* or padding, margin, etc. */
}

.evaluator-data{
	.progress-bar, .progress-value{
		background-color: #000;
	}
}

.progress-value {
	flex-shrink: 0;
	font-size: 16px;
    background-color: #01a2b2;
    border-radius: 50%;
    height: 38px;
    width: 38px;
    text-align: center;
    line-height: 38px;
    z-index: 3;
    color: white;
    margin-top: -16px;
	position: relative;
	left: -19px;
	
}

.sticky {
    position: -webkit-sticky;
    /* For Safari */
    position: sticky;
    top: 0;
    /* Adjust this value to control how far from the top the div should stick */
    background-color: #fff;
    padding: 1em;
    /* border: 1px solid #ccc; */
    z-index: 100;
}

.upcard{
	box-shadow: 6px 6px 12px #b8b9be4f,
		-6px -6px 12px #ffffff38 !important;
}

.f-800{
	font-weight: 800;
}

.f-600{
	font-weight: 600;
}

.card-title{
	font-size: 20px!important;
	color: #12171dbf!important;
}

.select-light{
	background-color: #fff!important;
	color : #033!important;
}

.text-black{
	color: black!important;
}

.bg-primary{
	background-color: #000333 !important;
}


.max-border{
	box-shadow: 0 0 0 2px #f3f5f6 inset;
}

.max-outline{
	outline: 5px solid #323c48;
}

.bg-light-blue{
	background-color: #ADD8E6!important;
}

.form-switch .form-check-input{
	width: 3rem!important;
}

.ruler {
	position: relative;
	width: 100%;
	height: 2px;
	background-color: #000;
}

.tick {
	position: absolute;
	width: 2px;
	height: 17px;
	margin-top: -8px;
	background-color: #000;
}

/* .tick:nth-child(1) {
	left: -1px;
	width: 3.5px;
}

.tick:nth-child(2) {
	left: 24.5%;
}

.tick:nth-child(3) {
	left: 49.5%;
}

.tick:nth-child(4) {
	left: 74%;
}

.tick:nth-child(5) {
	left: 100%;
	margin-left: -1px;
	width: 3.5px
} */

.digit-ruler {
	position: relative;
	width: 99%;
	height: 2px;
	/* opacity: 0; */
}

.digit {
	position: absolute;
	text-align: center;
	margin-top: -8px;
	font-weight: bolder;
	color: black;
}

.digit:nth-child(1) {
	left: -5px;
}

.digit:nth-child(2) {
	left: 25%;
}

.digit:nth-child(3) {
	left: 50%;
}

.digit:nth-child(4) {
	left: 75%;
}

.digit:nth-child(5) {
	left: 100%;
	margin-left: -1px;
	/* Adjust to center the last tick */
}


select {
	color: #000033 !important;
}


.form-check-input {
	width: 1.5em;
	height: 1.5em;
}

.form-check-label {
	font-size: 18px;
	margin-left: 9px;
}

.animated-progress {
	animation: progress-animation 1s ease-out forwards;
}

@keyframes progress-animation {
	from {
		width: 0%;
	}

	to {
		width: var(--progress-width, 100%);
	}
}

@keyframes progress-label-animation {
	from {
	  left: 0;
	}
	to {
	  left: var(--final-left);
	}
  }

.recommendations-headings {
	font-size: 16px !important;
}

.popover-headings {
	font-weight: 800;
	color: #000 !important;
}

.text-black {
	color: #000 !important;
}

.bg-dark {
	background-color: #000 !important;
}

.mb-4-5{
	margin-bottom: 2.0rem !important;
}

.competency_result .bar-data:not(:last-child) {
	margin-bottom: 2.0rem !important; /* or padding, margin, etc. */
}

.custom-pb-2{
	padding-bottom: 0.5rem !important;
}

.hide-sticky {
	transform: translateY(-100%);
	transition: transform 0.3s ease-in-out;
}

.sticky-top {
	transition: transform 0.4s ease-in-out; /* Smooth transition for both show and hide */
}

